* {
  box-sizing: border-box;
}

body,
html {
  background-color: #aaa599;
  font-size: 18px;
  height: 100%;
  margin: 0;
  padding: 0;
}
:root {
  --bg-color: rgba(154, 200, 208, 0.8);
  --links: #ffffee;
  --border: #3e4c28;
}
a {
  color: var(--links);
  font-size: 1.5em;
  text-decoration: none;
}

a:hover {
  font-style: italic;
  font-weight: bold;
  color: transparent;
  text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.5);
  -webkit-background-clip: text;
  background-clip: text;
}

h1 {
  font-size: 2.4em;
}

h2 {
  font-size: 2em;
}

span {
  font-size: 0.75em;
}

.header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  background: var(--border);
  padding: 0.25em;
}

.nav-bar {
  width: 40%;
  text-decoration: none;
  padding-right: 0.5em;
}

.links {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.name-block {
  display: inline-block;
  padding-left: 20px;
  background: var(--bg-color);
  justify-content: center;
}

.jumbotron {
  display: flex;
  background-image: url("../images/bridge-1.JPG");
  background-size: cover;
  background-position: 20%;
  align-items: flex-end;
  justify-content: flex-end;
  width: 100%;
  height: 35%;

  border: 2px dashed black;
}
.jumbotron img {
  object-fit: contain;
}

.ph-text {
  display: block;
  position: relative;
  text-align: center;
  font-size: 1.25em;
  font-weight: bold;
  padding: 0.85em;
  background-color: var(--bg-color);
  width: 20%;
  bottom: 5%;
}

.about-content {
  display: flex;
  margin: 15px;
}

.info {
  display: inline-block;
  width: 40%;
  margin: 0 auto;
  padding: 1.5em;
  border-right: 5px solid #3e4c28;
}
.info-text p {
  padding: 1.5em;
  line-height: 1.3;
}

.project-content {
  display: flex;
  height: 80%;
}

.project {
  display: inline-block;
  flex-wrap: wrap;
  padding: 1.5em;
  align-self: center;
  height: 90%;
  width: 18%;
  border-right: 5px solid var(--border);
}

.project-container {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 90%;
  padding: 1.6em;
  justify-content: space-evenly;
}

.card-1 {
  display: inline-block;
  width: 100%;
  height: 65%;
  background-image: url(../images/bridge-1.JPG);
  background-size: cover;

  border-radius: 0.625em;
}
.card-2,
.card-3,
.card-4 {
  display: inline-block;
  width: 30%;
  height: 30%;
  margin-top: 0.625em;
  background-size: cover;
  align-self: space-evenly;
  border-radius: 0.625em;
}
.card-2 {
  background-image: url(../images/lights.jpg);
}
.card-3 {
  background-image: url(../images/calc.jpg);
}
.card-4 {
  background-image: url(../images/run.jpg);
  background-position: 42%;
}

.card-name {
  display: inline-block;
  align-content: flex-start;
  text-align: center;
  font-size: 1.4em;
  font-weight: 700;
  position: relative;
  top: 60%;
  margin-left: 0.25em;
  background-color: var(--bg-color);
}

.card-name a {
  font-size: 1em;
  color: black;
  text-decoration: none;
}

#project-1 {
  top: 50%;
}

.footer {
  display: flex;
}
.contact {
  display: inline-block;
  align-self: flex-start;
  padding: 1.4em;
  width: 17.5%;
  border-right: 5px solid #3e4c28;
}

.contact-links a {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 30px;
  padding: 1.4em;
  font-size: 1.25em;
}
/* media queries */
@media screen and (max-width: 768px) {
  section {
    padding: 30px 15px;
  }
  .info,
  .project h2 {
    flex: 1 100%;
    text-align: center;
  }
  .step-info {
    flex: 2 100%;
    text-align: center;
    justify-content: center;
  }
  .step-img {
    flex: 0 32%;
    margin-right: 0;
    margin-top: 15px;
    margin-bottom: 15px;
  }
  .step-text {
    flex: 100%;
  }
}

@media screen and (max-width: 575px) {
  .header {
    width: 100%;
    justify-content: center;
    align-content: center;
  }
  h1 {
    width: 100%;
    text-align: center;
    font-size: 2.1em;
  }
  .nav-bar {
    width: 100%;
    display: inline-block;
    padding-left: 0;
    margin: 0 auto;
  }

  .info,
  .project {
    border: none;
  }

  .about-content {
    display: grid;
    padding: 0.85em;
    border-bottom: 2px solid var(--border);
  }

  .info,
  .project,
  .project-container {
    width: 100%;
    text-align: center;
  }

  .project-content {
    display: grid;
    overflow: scroll;
  }

  .project {
    display: grid;
    justify-content: center;
    align-content: center;
    padding: 10px;
  }

  .card-1,
  .card-2,
  .card-3,
  .card-4 {
    flex: 1 100%;
    flex-wrap: wrap;
  }

  .ph-text,
  .card-name,
  #project-1 {
    flex: 1 20%;
    font-size: 0.55em;
  }

  .footer {
    display: grid;
    align-items: center;
    text-align: center;
  }

  .contact {
    display: inline-block;
    align-self: center;
    margin: 0 auto;
    width: 80%;
    flex: 2 100%;
    font-size: 0.85em;
    border-right: none;
    border-bottom: 3px solid var(--border);
  }

  .contact-links {
    flex: 1 100%;
    flex-wrap: wrap;
    width: 100%;
    align-self: center;
    font-size: 0.65em;
    padding-left: 0;
  }
}
