* {
  
    --text:#21D7D8;
    --primary:#022425;
    box-sizing: border-box;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  header {
    
    background: var(--primary);
  }
  
  h1  {
    display: flex;
    padding-left: 15px;
  margin-top: 30px;
  background-color: #88C5C7;
  font-size: 200%;
  float: left;  
}
h2 {
  height: 100px;
  width: 150px;
  padding: 15px;
  align-self: auto;
  font-size: 1.4em;
  color: var(--text);
  border-right: 5px solid var(--primary);
}

nav a {
  
  padding: 5px 10px;
  color: var(--text);
  margin-right: 10px;
  background-image: linear-gradient(270deg, var(--secondary) 0%, var(--secondary) 100%);
  background-repeat: no-repeat;
  background-size: 100% 0.2em;
  background-position: bottom;
  transition: all 0.25s ease-in;
  font-size: 1.4rem;
  
}

.nav {
    display: flex;
    flex-direction: row;
    padding: 5px;
    margin: 10px 10px 0 10px;
    justify-content: flex-end;
}

.links {
    display: flex ;
    margin: 20px;
    padding: 10px;
    font-weight: 700;
    list-style: none;
}

.banner {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  height: 10vh;
  z-index: 0;
  border: 5px solid red;
}
/* img {
  width: 98vw;
  height: 10vh;
  object-fit: fill;
} */

.sub-header {
 display: flex;
 flex-wrap: wrap;
 flex-direction: row;
 align-content: flex-end;
 justify-content: flex-end;
 position: relative;
 left: 82vw;
 bottom: 6vh;
 padding: 2px;
 margin: 4px;
 font-size: 125%;
 font-weight: 700;
 background: var(--text); 
 border: 5px solid limegreen;
 
}

 .content-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  height: 100vh;
    
  color: var(--primary);
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  
  border: 5px solid midnightblue;
}



.menu {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  align-content: flex-start; 
  flex: 0 0 50%; 
}
  /* position: relative;
  top: 130vh;
  right: 18vh;
  width: 100vh;
  padding: 15px;
  border: 1px solid red;
  } */
   
.menu #About-Me  {
  margin-right: 10px;
  padding: 10px;
  font-weight: 700;
  font-size: 1.4rem;
  flex: 0 0 80%;
  height: 40%;
  width: 15%;
  color: var(--primary);
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  
}

p {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  flex-wrap: wrap;
  flex: 1 1 10%;
  width: 80%;
  margin-left: 20%;
  margin-bottom: 5%;
  position: relative; 
  bottom: 25%;
  
  
border: 5px solid forestgreen;
}



 
 .folio {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-items: center;
  align-content: space-around;  
  border: 3px solid black;
  border-radius: 10px;
  /* padding: 25px; */
  height: 200px;
  width: 200px;
}
.folio1 {
  height: 45vh;
  width: 75vw;
  border: 3px solid green;
}

.folio img {
  height: 100%;
  width: 100%;
  overflow: hidden;
  object-position: 50% 100% ;
  object-fit: cover;
} 

#Projects.folio {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  height: 65vh;
  width: 75vw;
}
  
.project1 {
  
  height: 100%;
  width: 100%;
  position: relative;
  top: -20px;
  z-index: 1;
  
  border: 4px solid var(--text);
}
.project2 {
  
  height: 100%;
  width: 100%;
  position: relative;
  bottom: 9px;
  z-index: 1;
  
  border: 4px solid var(--text);
}

.projectName {
  height: 10%;
  width: 20%;
  align-content: flex-start;
  text-align: center;
  font-size: 1.4em;
  font-weight: 700;
  color: var(--primary);
  background: var(--text);
  position: relative;
  bottom: 20%;
  
}

.btmrow {
  height: 25%;
  width: 50%;
  align-self: center;
  text-align: center;
  font-size: .8em;
  font-weight: 600;
  color: var(--primary);
  background: var(--text);
  position: relative;
  top: -30%;
  border: 4px solid var(--text);
  
}
.footer{
  align-self: center;
  color: var(--text);

}

.footer ul {
  list-style: none;
  padding: 5px 10px;
  margin-right: 10px;
  border: 2px solid red;
  display: inline-flex;
  flex-direction: row;
  justify-content: flex-start;
  position: relative;
  left: 200px;
  bottom: 65px;
  color: var(--primary);
}

.footer #Contact  {
    
  margin-right: 10px;
  padding: 10px;
  font-weight: 700;
  font-size: 1.4em;
  height: 100%;
  width: 35%;
  color: var(--text);
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  border-right: 5px solid var(--primary);
}
.footer a {
  display: flex ;
    color: var(--primary);
    margin-right: 10px;
    padding: 10px;
    font-weight: 700;
    list-style: none;
    font-size: 1.4rem;
}


#Phone #Email #Repo {
  display: flex;
  flex-wrap: nowrap;
  justify-items: flex-end;
  align-content: center;
  padding: 10px 10px 10px 15px;
  border: 3px solid tomato;
}
 
